* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #545454;
}

.database-background {
	background-image: url("../img/dogwaiting.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 50px;
	padding-bottom: 100px;
	min-height: 1000px;
}

.container {
	max-width: 600px;
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 7px;
}

#animalProfiles {
	margin-top: 10px;

}

#pet-items {
	list-style: none;
	padding: 0.5em 1em;
	margin: 0;
}

#pet-items li {
	font-size: 0.9em;
	padding: 0.5em;
	background: #FFF;
	border-bottom: 1px solid #EEE;
	margin: 0.5em 0;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.radiotext {
	color: #545454;
}

label {
	font-size: 1.1em;
}

img {
	max-width: 300px;
	border-radius: 15px;
}
