* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #545454;
	/*background-color: #F7F7F7;*/
}

img {
	max-width: 300px;
	border-radius: 15px;
}
#filtered-items {
	list-style: none;
	padding: 0.5em 1em;
	margin: 0;
}

ul {
	min-height: 500px;
}

#filtered-items li {
	display: inline-block;
	text-align: center;
	font-size: 0.9em;
	padding: 0.5em;
	border: 1px solid #EEE;
	margin: 0.5em 0;
	height: 500px;
	width: 315px;
	vertical-align: bottom;
}

.background-img {
	background-image: url("../img/desertdog.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 50px;
	padding-bottom: 100px;
	min-height: 1000px;
}

#results {
	padding-top: 50px;
	padding-bottom: 100px;
}

body {
	background-image: url("../img/square-s.png");
	background-size: auto;
	background-repeat: repeat;
	background-color: #009bc2;
	padding-bottom: 50px;
	min-height: 100px;
}
/*background-image: url("../images/desertdog.jpg");
background-repeat: no-repeat;*/

.main-container {
	max-width: 600px;
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 7px;
}

.result-container {
	max-width: 1005px;
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 7px;
}

input[type="text"], input[type="url"] {
	width: 100%;
	padding: 0.5em;
	font-size: 1em;
	border-radius: 3px;
	border: 1px solid #f0f0f5;
	margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

#post-search {
	margin-top: 15px;
	margin-bottom: 10px;
}

#results {
	display: none;
}

.main-header {
	text-align: center;
	padding-bottom: 10px;
	color: #fff;

}

.main-header h1 {
	font-size: 6em;
	color: #fff;
	opacity: .7;
}

label {
	font-size: 1.1em;
}

#budget, .radio-inline {
	font-size: 1.1em;
}

.footer {
	text-align: center;
	color: #fff;
	padding-top: 15px;
}
